*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #d6d6d6;
}

main{
    .container{
        .card{
            .card-body{
                background-color: #d6d6d6;
            }
        }
    }
}